@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .site-container {
        @apply bg-blue-900
        w-screen h-screen;
    }
}

@media only screen and (min-width: 1100px) {
    ::-webkit-scrollbar {
        width: 0.5em;
    }

    ::-webkit-scrollbar-track {
        background-color: #404040;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #171717;
    }
}
